# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# XML files (allow UTF-8-BOM for ABAP compatibility)
[*.xml]
charset = utf-8-bom
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
