# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# ensure the LF line endings
[*.{md,json}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# ensure the LF line endings
[*.abap]
insert_final_newline = true
