name: standalone-program

on:
  push:
    branches:
      - main

jobs:
  create-generateRepo:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Run npm steps
      run: |
        npm install
        npm run createGenerateRepo
        npm run cutUnitTests
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: saff_generate_repo.prog.abap
        path: saff_generate_repo.prog.abap
  create-generatorInclude:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Run npm steps
      run: |
        npm install
        npm run createGeneratorInclude
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: saff_generator.prog.abap
        path: saff_generator.prog.abap
